body {
    padding: 50px;
}
footer {
    padding: 50px;
}

.navbar {
    border: none;
    
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.navbar-brand {
    color: white;
}
.instagram-pic {
    position: relative;
    padding: 10px;
    overflow: hidden;
}
.instagram-pic img {
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.instagram-bar {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    color: #2c2c2c;
}
.instagram-bar span {
    margin-right: 5px;
}
.instagram-bar .likes {
    float: left;
}
.instagram-bar .comments {
    float: right;
}

